*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-coat-of-arms-light);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    scrollbar-gutter: stable both-edges;
    overflow-x: hidden;
    font-size: var(--fontsize-body-m);
}

body * {
    margin: 0;
    padding: 0;
}

.App {
    width: clamp(375px, 100vw, 30em);
    background-color: var(--color-white);
    padding: 1em;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: clamp(325px, 100vh, 30em);
    text-align: center;
}

.sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    gap: 0.5em;
}

.buttons-container {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 1em;
}

fieldset {
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 80%;
    border: none;
    margin: 2vh 0;
}

legend {
    font-weight: 600;
}

span.range-slider {
    flex: none;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 0.5em;
    color: var(--color-coat-of-arms-dark);
    font-weight: 600;
    width: 100%;
    margin: 2em 0;
}


ol,
ul {
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 0;
}


li {
    margin: 0.5em 0;
    padding: 0;
}


h1,
h2,
h3 {
    margin: 0.2em;
}

h1 {
    font-size: var(--fontsize-heading-l);
}

h2 {
    font-size: var(--fontsize-heading-m);
}

h3 {
    font-size: var(--fontsize-heading-s);
    font-weight: 500;
}

p,
label,
legend {
    font-size: var(--fontsize-body-m);
    line-height: 120%;
    max-width: 50ch;
}

button,
a,
button[type="submit"],
button.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0.8em 1em;
    font-family: inherit;
    font-size: var(--fontsize-body-l);
    font-weight: normal;
    text-decoration: none;
    border: 2px solid transparent;
    width: 60%;
}

button[type="submit"],
button.primary,
a.primary {
    background-color: var(--color-coat-of-arms);
    color: var(--color-white);
}

button.secondary,
a.secondary {
    background-color: var(--color-white);
    border: 2px solid var(--color-coat-of-arms);
    color: var(--color-coat-of-arms);
}

#main-quiz-submit {
    width: 45%;
}

button.prev {
    width: 45%;
}

button.next {
    width: 45%;
}

button.prev::before {
    content: "<";
    margin-right: 0.5em;
}

button.next::after {
    content: ">";
    margin-left: 0.5em;
}



label {
    margin: 0 1em;
}

.label {
    color: var(--color-black-70);
    font-weight: normal;
    margin-top: 6px;
}

.radio-container {
    display: flex;
    align-items: center;
    margin: 1vh 0;
    text-align: left;
    width: 100%;
}

.radio-container input[type="radio"] {
    flex: none;
    height: 1.4em;
    width: 1.4em;
}

.card {
    background-color: var(--color-coat-of-arms-medium-light);
    padding: 1em 2em;
    text-align: left;
    font-size: var(--fontsize-body-m);
    width: clamp(10em, 90vw, 24em);
    margin-top: 1em;
}

.card p {
    margin-top: 1em;
}

label,
p,
legend,
h1,
h2,
h3,
h4,
li:not(.contact > *) {
    user-select: none;
}

h2.summary-title {
    font-size: var(--fontsize-heading-xxs);
}

.summary.answer {
    color: var(--color-black-90);
    font-size: var(--fontsize-body-m);
}

p.summary.answer::before {
    content: "Vastaus:";
    color: var(--color-black-60);
    display: block;
    font-size: var(--fontsize-body-s);
    font-style: italic;
    margin-top: 0.5em;
}

p.summary.no-answer {
    color: var(--color-error);
    font-size: var(--fontsize-body-s);
    font-style: italic;
}

ol.summary {
    width: 80%;
}

.summary li.no-answer {
    background-color: var(--color-error-light);
}

.summary li {
    padding-left: 0.5em;
}

.summary li:not(:last-child) {
    margin-bottom: 1.5em;
}

.summary li::marker {
    font-weight: 600;
    font-size: var(--fontsize-body-l);
    color: var(--color-info-dark);
}

ul.contact {
    list-style: none;
}

p.modal {
    padding: 0.5em;
    margin: 1em;
    padding-top: 1em;
    font-size: var(--fontsize-body-m);
    text-align: center;
    color: var(--color-black);
}

.step-tracker {
    font-size: var(--fontsize-heading-m);
    font-weight: 600;
    color: var(--color-info-dark);
    user-select: none;
}