*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: grey;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    scrollbar-gutter: stable both-edges;
    overflow-x: hidden;
}

body * {
    margin: 0;
    padding: 0;
}

body,
.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.App {
    width: clamp(15em, 100vw, 26em);
    padding: 2em 2vw;
    background-color: white;
    text-align: center;
}

.range-slider {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 0.5em;
    color: #548BF4;
    font-weight: 600;
    width: 100%;
}

form,
.container,
section {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1em;
    text-align: center;
    justify-content: center;
    align-items: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 80%;
    border: none;
    justify-content: flex-start;
    align-items: left;
}

ol {
    text-align: left;
    width: 80%;
}


li {
    margin: 1em 0;
}


h1,
h2,
h3 {
    margin: 0.2em;
}

h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1.1rem;
    font-weight: 500;
}

p {
    font-size: 1rem;
    line-height: 120%;
}

button,
a {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: grey;
    color: white;
    padding: 0.5em;
    font-family: inherit;
    font-size: 1.1rem;
    border: none;
    font-weight: normal;
    text-decoration: none;
    width: clamp(5em, 90vw, 15em);
    align-self: center;
}

button.nav {
    background-color: white;
    border: 2px solid black;
    color: black;
}

button.nav.prev::before {
    content: "<";
    margin-right: 0.5em;
}

button.nav.next::after {
    content: ">";
    margin-left: 0.5em;
}

label {
    margin: 0 1em;
}

input {
    height: 1.4em;
    width: 1.4em;
}

.label {
    font-size: 0.9rem;
    color: grey;
    font-weight: 200;
    margin-top: 6px;
}

.label.left {
    margin-right: 0.5em;
}

.label.right {
    margin-left: 0.5em;
}

.radio-container {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 1em 0;
    text-align: left;
}

.radio-container input {
    flex: none;
}

.card {
    background-color: #dbdbdb;
    padding: 1em 2em;
    text-align: left;
    font-size: 0.9rem;
    width: 100%;
}

.card h2 {
    font-size: 1rem;
    margin-bottom: 1em;
}

label {
    user-select: none;
}

.summary.label {
    font-size: 0.9rem;
    color: grey;
    font-style: italic;
    padding-bottom: 1em;
}

.summary.no-answer {
    color: red;
    font-style: italic;
}

ul.contact {
    list-style: none;
}

p.modal {
    padding: 0.5em;
    margin: 1em;
    padding-top: 1em;
    font-size: 0.9rem;
    text-align: center;
}

.step-tracker {
    font-size: 1.4rem;
    font-weight: 600;
}