/*default*/
@media only screen and (max-width: 800px) {

    .App {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        min-height: 100vh;
        scrollbar-gutter: stable both-edges;
        overflow-x: hidden;
        padding: 1em;
    }

    .container {
        min-height: 80vh;
    }

    .sub-container {
        min-height: 20vh;
    }

}

/*mobile*/
@media only screen and (max-width: 425px) {

    .App {
        padding: 0.5em;
    }

    .container {
        gap: 2em;
    }

    .sub-container {
        gap: 1em;
    }

    .card {
        width: 100%;
    }

    ol.summary-list {
        gap: 1em;
        width: 100%;
    }

    ol.summary-list li {
        grid-template-columns: 0.5fr 5fr;
        grid-template-rows: auto auto;
        border-right: transparent;
    }

    .summary-question-text-container {
        justify-content: center;
        grid-row: 1/2;
    }

    .summary-answer-text-container {
        justify-content: center;
        grid-column: 1/3;
        text-align: center;
    }

    .buttons-container>* {
        flex: 1 0 100%;
    }

    .summary.not-answered .summary-answer-text-container {
        white-space: normal;
    }




}