/*default*/
@media only screen and (max-width: 800px) {

    .App {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        min-height: 100vh;
        scrollbar-gutter: stable both-edges;
        overflow-x: hidden;
        padding: 1em;
    }

    .container {
        min-height: 80vh;
    }

}

/*mobile*/
@media only screen and (max-width: 425px) {

    .App {
        padding: 1em;
    }

    .container {
        min-height: 90vh;
        gap: 1em;
    }

    .sub-container {
        gap: 1em;
    }

    .card {
        width: 100%;
        padding: 1em;
    }

    .card li {
        margin-left: 1.5em;
        width: 90%;
    }

    ol.summary-list {
        width: 100%;
    }

    ol.summary-list li {
        grid-template-columns: auto 6fr;
        grid-template-rows: auto auto;

    }

    ol.summary-list li * {
        padding: 0.3em;
    }

    .summary-question-text-container {
        grid-row: 1/2;
        grid-column: 2/3;

    }

    .summary-answer-text-container {
        grid-row: 2/3;
        grid-column: 1/span 2;
    }

    .summary-answer-text-container p {
        justify-content: left;
        margin-left: 1em;
    }

    .summary-list li::before {
        padding: 0.5em;
        place-items: flex-start;
    }

    .buttons-container>* {
        flex: 1 0 100%;
    }

    .buttons-container {
        gap: 0.5em;
    }
}