/*mobile*/
@media only screen and (max-width: 445px) {

    .App {
        width: 100vw;
        min-height: 100vh;
        padding: 1em;
        overflow-x: hidden;
    }

    .container {
        min-height: 90vh;
    }

    .sub-container {
        width: 100%;
    }

    .card {
        width: inherit;
    }

    li.summary {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    button,
    a.primary,
    a.secondary,
    button[type="submit"],
    button.nav,
    #main-quiz-submit,
    button.prev,
    button.next {
        width: inherit;
    }

    li {
        width: 100%;
    }

}

/*landscape*/
@media only screen and (max-height: 525px) {

    .App {
        width: 100vw;
        min-height: 100vh;
        padding: 1em;
        overflow-x: hidden;
    }

    .container {
        min-height: 90vh;
    }

    .sub-container {
        height: fit-content;
    }

    label.radio-label {
        min-height: 2em;
    }
}